<html>
<head>
  <title>{{ title }}</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Login</a></li>
          <li><a href="#">Signup</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><a href="#">Login</a></li>
          <li><a href="#">Signup</a></li>
        </ul>
      </div>
    </nav>

      <div class="row section">
          <div class="col s4 offset-s4 center-align">
              <img src="img/chatoo.png" alt="chatoo">
          </div>
          <div class="col s4 offset-s4 input-field">
            <input id="Mobile No." type="text" class="validate">
            <label for="Mobile No.">Mobile Number</label>
          </div>
          <div class="col s4 offset-s4 input-field">
            <input id="password" type="text" class="validate">
            <label for="password">Password</label>
            <a href="#">Forget Password ?</a>
          </div>
        </div>

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
